body {
  background-image: url("../assets/images/jeopardy background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#showgrid{
  width: 75%;
  margin: 50px;
  font-family: 'Roboto Slab' , serif;

  box-shadow: 5px 5px 25px blue;


}

.column {
  height: 230px;
  margin: auto;
  display: inline;
  float: left;
  text-align: center;
  font-size: 40px;
  line-height: 220px;
  text-shadow: 1px 1px 5px blue;


}

.categories {
  height: 100px;
  margin: auto;
  display: inline;
  float: left;
  text-align: center;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(213, 236, 240);

}

.card {
  float: right;
  margin-top: 500px;
  margin-left: 25px;
  font-family: 'Noto Serif', serif;

}

.row {
  width: 100%;
  margin: auto;
}

div.column {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

#name-submit {
  border-radius: 5px;
  padding: 5px;
  margin-left: 800px;
}

#soundImage {
  border-radius: 5px;
  margin-top: 25px;
  left: 10px;

}
