body {
  background-image: url("../assets/images/jeopardy background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#showgrid {
  width: 75%;
  margin: 50px;
  font-family: 'Roboto Slab' , serif;
  box-shadow: 5px 5px 25px blue,
              -5px -5px 25px blue;
}

.column {
  height: 230px;
  margin: auto;
  display: inline;
  float: left;
  text-align: center;
  font-size: 40px;
  line-height: 220px;
  text-shadow: 1px 1px 5px blue;
  color: rgb(224, 197, 16) !important;
}

.modal-body {
  font-size: 15px;

}

.categories {
  height: 100px;
  margin: auto;
  display: inline;
  float: left;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(213, 236, 240);

}

.card {
  float: right;
  margin-top: 500px;
  margin-left: 25px;
  font-family: 'Noto Serif', serif;

}

.row {
  width: 100%;
  margin: auto;
}

div.column {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

#name-submit {
  border-radius: 5px;
  padding: 5px;
  margin-left: 800px;
}

#soundImage {
  border-radius: 5px;
  margin-top: 25px;
  left: 10px;

}

#user-name {
    margin-left: 800px;
    margin-top: 10px;
    color: white;

}
body.modal-open div.modal-backdrop {
    z-index: 0;
}

<<<<<<< HEAD
@media only screen and (max-width: 767px) {
  #showgrid {
    width: 100%;
    margin: 25px;
    color: yellow !important;
    box-shadow: 5px 5px 25px blue,
                -5px -5px 25px blue;
  }
=======
#answerModal {
  z-index: 10;
>>>>>>> 274d3dc3ee9ce603933006d2d5cf725c0a6c6c03
}
